

<div class="banner">
  <h1>Cinema Box </h1>
</div>

<%= render "search_bar" %>

<div class="movie-list">
  <% @movies.each do |movie| %>
    <%= link_to movie_path(movie), class: "movie-card" do %>
      <% if movie.poster_url.present? %>
        <%= image_tag(movie.poster_url, alt: movie.title, style: "width: 150px; height: 200px; border-radius: 4px;") %>
      <% end %>
      <div class="movie-info">
        <h2><%= movie.title %></h2>
        <p><%= truncate(movie.overview, length: 60) %></p>
        <p>Rating : <%= movie.rating.to_i %>/10</p>
      </div>
    <% end %>
  <% end %>
</div>
