<div class="list-head">
  <h1>Create a new List</h1>
</div>

<%= render "lists" %>

<div class="new-list-form" data-controller="toggle">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name,
    wrapper_html: { class: "floating-label" },
    required: false,
    input_html: { data: { action: "blur->toggle#blurName focus->toggle#transitionName",
                          toggle_target: "inputName" }},
    label_html: { data: { toggle_target: "labelName" }}
     %>
    <%= f.input :description,
    as: :text,
    wrapper_html: { class: "floating-label" },
    input_html: { data: { action: "blur->toggle#blurDescription focus->toggle#transitionDescription",
                          toggle_target: "inputDescription" }},
    label_html: { data: { toggle_target: "labelDescription" }},
    required: false %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "button-85" %>
  <% end %>
</div>
