
<h2><%= @list.name %></h2>
<p><%= link_to "Delete list", list_path(@list),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure you want to delete the list and associated bookmarks?"
                } %>
</p>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <% end %>
</ul>

<div class="featured-movies">
  <div class="movies-carousel">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="movies-slide">
        <%= link_to movie_path(bookmark.movie) do %>
          <%= image_tag(bookmark.movie.poster_url, alt: bookmark.movie.title, style: "width: 150px; height: 200px; border-radius: 4px;") %>
        <% end %>
        <div class="movie-infos">
          <ul>
            <li class="movie-title"><strong><%= bookmark.movie.title %></strong></li>

            <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
              <li class="my-content" data-read-more-target="content">
                <%= bookmark.movie.overview %>
              </li>
              <button class="read-more-button" data-action="read-more#toggle">Read more</button>
            </div>
            <li><%= bookmark.movie.rating.to_i %></li>
            <li>
              <%= link_to "Delete bookmark", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
