<div class="movie-container">
  <div class="movie-image">
    <% if @movie.poster_url.present? %>
      <%= image_tag(@movie.poster_url, alt: @movie.title) %>
    <% end %>
  </div>

  <div class="movie-info">
    <div>
      <h1><%= @movie.title %></h1>
      <div class="movie-rating">
      <p><%= @movie.rating.to_i %> / 10</p>
        <% @movie.rating.to_i.times do %>
          <i class="fa-solid fa-star fa-rotate-90" style="color: #FFD43B;"></i>
        <% end %>
      </div>
    </div>
    <p><%= @movie.overview %></p>
  </div>
</div>

<div class="add-list-form" data-controller="toggle">
  <button class="btn btn-primary" data-action="click->toggle#fire">Add to a List</button>
  <div class="d-none" data-toggle-target="form">
    <%= simple_form_for(@movie, html: { novalidate: true, class: "no-validation" }) do |f| %>
      <%= f.association :lists, as: :check_boxes %>
      <%= f.submit "Submit Bookmark", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
