<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      body {
        background-color: #161616;
        color: #EEEEEE;
      }
    </style>
  </head>

  <body>
    <div class="navbar d-flex justify-content-between align-items-center px-3">
      <div class="navbar-brand d-flex align-items-center">
        <%= link_to root_path do %>
          <img class="popcorn" src="<%= asset_path('poppcorn.png') %>" alt="Popcorn" style="height:75px;" />
        <% end %>
      </div>
      <div class="d-flex align-items-center">
        <%= link_to lists_index_path, class: "button-85" do %>
          <i class="fa-solid fa-film"></i>
        <% end %>
      </div>
    </div>
  <%= yield %>
  </body>
</html>
